.authorization__login-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.17;
  white-space: nowrap;
  cursor: pointer;
  margin: 15px auto;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
 
}

.authorization__login-text:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}